#content{
    position: relative;
    width: 50%;
    margin:80px 60px;

}
#content>h1{
    width: 80%;
    font-size: 46px;
    color: white;
    font-weight: 400;
    font-family: 'Sora', sans-serif;
    opacity: 1;

}
#content>p{
    width: 100%;
    opacity: 0.7;
    color: #EBEBEB;
    margin-top: 15px;
    word-spacing:3px;
    letter-spacing: 0.5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    height: 102px;
}
#btn{
    margin-top: 20px;
    padding: 10px 24px;
    background-color: #E2495B;
    color: white;
    border-style: hidden;
    font-weight: 700;
    border-radius: 6px;
    opacity: 1;
    font-family: 'Manrope', sans-serif;
}